NEXT_PUBLIC_SUPABASE_URL=https://eccccccfrzipzrflkcdkd.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGccc9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVjY3lxaWZyemlwenJmbGtjZGtkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NzY5MDcxNCwiZXhwIjoyMDczMjY2NzE0fQ.qajD-oJGkjiTQzpzj9TFbuDI4UJVWlEl_b3-2ehWIM8
NEXT_PUBLIC_SITE_URL=http://localhost:3000

NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciccc.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVjY3lxaWZyemlwenJmbGtjZGtkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTc2OTA3MTQsImV4cCI6MjA3MzI2NjcxNH0.1_UoM6QvPM4dLJTEkhuCYr3MZSsTapZVLDIjlmw1Ul0
RESEND_API_KEY=re_C1aL6ATcccReS9DkkjYpV1w
RESEND_FROM_EMAIL=onboarding@resend.dev

# SCGJWD User Portal
NEXT_PUBLIC_USER_PORTAL_URL=https://test-user-portal.scgjwd.com
NEXT_PUBLIC_USER_PORTAL_CLIENT_ID=e-BizCard

# Token exchange (server-side only)
USER_PORTAL_TOKEN_URL=https://test-user-portal.scgjwd.com//oauth/token
USER_PORTAL_CLIENT_ID=e-BizCard
USER_PORTAL_CLIENT_SECRET=your_user_portal_client_secret
