@tailwind base;
@tailwind components;
@tailwind utilities;

/* react-colorful styles */
.react-colorful {
  width: 100% !important;
  height: 200px !important;
}

.react-colorful__saturation {
  border-radius: 4px 4px 0 0 !important;
}

.react-colorful__hue {
  height: 20px !important;
  border-radius: 0 0 4px 4px !important;
}

.react-colorful__pointer {
  width: 20px !important;
  height: 20px !important;
}